h2 {
  margin: 4rem auto;
  width: 50%;
  text-align: center;
  font-size: 2rem;
}

.myevents-button {
  margin: 1.5rem;
  padding: 0.2rem 1.9rem;
  border-radius: 0.5rem;
  background: #000000;
  color: #dfdedf;
}

.event-details {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  padding: 2rem;
  width: 70%;
  border: 1px solid black;
  border-radius: 1rem;

  &__element {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-direction: row;
    margin: 1rem 1rem;
  }

  &__participants {
    display: flex;
    flex-direction: column;

    &__add-button {
      margin: auto;
      width: 4rem;
      border-radius: 0.5rem;
      background: #d3d3d3;
      color: #000000;
    }
  }

  &__participant {
    display: flex;
    flex-direction: row;
    margin: 0 0 1rem 0;
    justify-content: space-between;
  }

  &__buttons-container {
    display: flex;
    position: relative;
    padding: 4rem 0.5rem;
  }

  &__save-button {
    margin: auto;
    padding: 0.2rem 1.9rem;
    border-radius: 0.5rem;
    background: #000000;
    color: #dfdedf;
  }

  &__delete-button {
    margin: auto;
    padding: 0.2rem 1.9rem;
    border-radius: 0.5rem;
    background: #d3d3d3;
    color: #dfdedf;
  }
}

input {
  margin: 0 1rem;
  padding: 0.3rem 1rem;
  // border-radius: 0.2rem;
}
