.event-details__title {
  margin: 4rem auto;
  width: 50%;
  text-align: center;
  font-size: 2rem;
}

.myevents-button {
  margin: 1.5rem;
  padding: 0.2rem 1.9rem;
  border-radius: 0.5rem;
  background: #000000;
  color: #dfdedf;
}

.event-details {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  padding: 2rem;
  width: 50%;
  border: solid black 0.4rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #f0c87e;
  margin-bottom: 15rem;

  &__element {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-direction: row;
    margin: 1rem 1rem;
  }

  &__h3 {
    margin-right: 2rem;
  }

  &__p {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  &__participant {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
    justify-content: space-between;
  }

  &__buttons-container {
    display: flex;
    position: relative;
    padding: 4rem 0.5rem;
  }
}

.event-details-page {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('/src/assets/14.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
}
