@use '../../../styles/variables' as v;

.draw-result-page {
  display: flex;
  flex-direction: column;
  background-image: url('/src/assets/30.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  background-attachment: fixed;
  padding-bottom: 18.8vh;
  padding-bottom: 25rem;
}

.draw-result-h1 {
  font-size: 3rem;
  margin: 4rem auto 1rem auto;
  width: 50%;
  text-align: center;
}

.draw-text {
  margin: 1rem auto;
  width: 70%;
  text-align: center;
  font-size: 1.3rem;
}

.draw-roulette {
  position: relative;

  // adding some pseudo elements to add some style to the roulette
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.8rem;
    border: #000000 solid 3px;
    background: repeating-linear-gradient(
      45deg,
      v.$color-bg,
      v.$color-primary 10px,
      v.$color 10px,
      v.$color-bg 20px
    );
  }

  &::before {
    left: -10px;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  &::after {
    right: -10px;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  font-size: 4rem;
  margin: 2rem auto;
  width: 30rem;
  text-align: center;
  border: #000000 solid 1px;
  background: v.$color-primary;
}

.placeholder {
  font-size: 3rem;
  font-weight: bold;
}

.result {
  font-size: 3rem;
  height: 100%;
  // transition: opacity 2s ease-in-out;

  animation: roulette 0.5s linear;
}

.event-link {
  margin-bottom: 6rem;
  color: black;
  margin: auto;
  text-align: center;
}

@media (max-width: 720px) {
  .draw-roulette {
    width: 25rem;
  }
}
