.draw-result-page {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  padding: 2rem;
  width: 70%;
  border-radius: 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin: 4rem auto 1rem auto;
  width: 50%;
  text-align: center;
}

p {
  margin: 1rem auto;
  width: 50%;
  text-align: center;
}

button {
  width: 10rem;
  margin: 1rem auto;
  padding: 0.2rem 1.9rem;
  border-radius: 0.5rem;
  background: #000000;
  color: #dfdedf;
  font-size: 1rem;
}

.draw-result {
  font-size: 4rem;
  margin: 3rem auto;
  width: 50%;
  text-align: center;
  border: #000000 solid 1px;
  border-radius: 1rem;
  background: #d3d3d3;
}
