// @use '../../styles/variables' as v;

.Login {
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('/src/assets/14.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 2rem;
}

.Login__Title {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 3rem;
}


.Login__email {
  margin-bottom: 0.3rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.Login__password {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.Login__newAccount {
  margin-bottom: 1.25rem;
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.Login__Form {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 3.5rem auto;
  border: solid black 0.4rem;
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: #f0c87e;
}


@media (max-width: 720px) {
  .Login__h2 {
    font-size: 2rem;
    width: 80%;
  }
  .Login__Form {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
