// @use '../../styles/variables' as v;

.PersonalData {
  text-align: center;
}

.Website__Title {
  margin-left: 15rem;
  margin-top: 3rem;
  font-size: x-large;
}

.PersonalData__confirmation {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 2.5rem;
  width: 7.5%;
  padding: 0.2rem 1.9rem;
  border-radius: 0.2rem;
  border: none;

  background: #000000;
  color: #dfdedf;
}
