<<<<<<< HEAD
// @use '../../styles/variables' as v;

.MyEvent {
  text-align: center;
}

h2 {
  margin: 2.5rem;
}

.Website__Title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: x-large;
}

.MyEvent__confirmation {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 2.5rem;
  width: 7.5%;
  background: #000000;
  color: #dfdedf;
  padding: 0.2rem 1.9rem;
  border-radius: 0.2rem;
  border: none;
}

p {
  margin: 1rem;
  border: solid black 0.3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
=======
//@use '../../styles/variables' as v;
>>>>>>> parent of cf1c317... update feature/faq2
