// @use '../../styles/variables' as v;

.MyEvents {
  text-align: center;


  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('/src/assets/14.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;

}

.Website__Title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: x-large;
}

.MyEvent__Details {
  border: solid black 0.4rem;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  font-size: 1.5rem;
  background-color: #f0c87e;
  width: 50%;
  margin-left: 10rem;
}

.MyEvents__container {
  display: flex;
  flex-direction: row;
}

.MyEvents__p {
  margin-top: 2rem;
  margin-left: 10rem;
  font-size: 2rem;
}

.MyEvents__h1 {
  margin-bottom: 5rem;
}

.MyEvent__Title {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

.MyEvent__Date,
.MyEvent__Participant {
  text-align: left;
  margin-left: 4rem;
}

.MyEvent__h3 {
  text-align: left;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.MyEvent__Participants-List {
  margin-bottom: 3rem;
}

.MyEvent__Confirmation {
  margin-left: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 720px) {
  .MyEvents__Title {
    width: 80%;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 2.5rem;
  }
  .MyEvents__container {
    display: flex;
    flex-direction: column;
  }
  .MyEvents__List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .MyEvents__p {
    font-size: 1rem;
    height: auto;
    margin: auto;
    margin-bottom: 1rem;
  }
  .MyEvent__Details {
    width: 95%;
    margin: auto;
  }
  .MyEvent__Confirmation {
    margin: 2rem auto;
  }
}
