//@use '../../styles/variables' as v;

.LegalNotices-title {
  margin-left: 10rem;
  padding-top: 3rem;
  font-size: 2.5rem;
}

.LegalNotices-date,
.LegalNotices-preface,
.LegalNotices-editor,
.LegalNotices-host,
.LegalNotices-websiteAccess,
.LegalNotices-CollectData {
  margin-bottom: 4rem;
  margin-left: 6rem;
  width: 50%;
}

h3 {
  margin-left: 7.5rem;
}

.LegalNotices-date {
  margin-left: 10rem;
}

.LegalNotices-preface {
  margin-left: 5rem;
}

@media (max-width: 720px) {
  .LegalNotices-title,
  .LegalNotices-date,
  .LegalNotices-preface,
  .LegalNotices-editor,
  .LegalNotices-host,
  .LegalNotices-websiteAccess,
  .LegalNotices-CollectData,
  .LegalNotices-h3 {
    margin-left: 0.5rem;
    width: 95%;
  }
}
