.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  // background-color: transparent;

  .logo {
    height: 5.5rem;
  }

  div {
    button {
      margin-left: 3rem;
    }
  }
}

// .message__bienvenue {
//   text-align: center;
//   margin-top: 4rem;
//   margin-bottom: 5rem;
// }
