//@use '../../styles/variables' as v;

.FAQ-title {
  margin-bottom: 2.5rem;
  margin-left: 2rem;
  padding-top: 2.5rem;
  font-size: 2.5rem;
}

h3 {
  margin-bottom: 0.6rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.imageFAQ {
  margin-top: 5rem;
  margin-left: 3rem;
  width: 50%;
}

.FAQ-category {
  //margin-left: 1rem;
  background-color: #c69b70;
  width: 50%;
  padding: 0.5rem;
}

.FAQ-content {
  margin-left: 7rem;
}

.faq-container {
  display: flex;
  justify-content: space-between;
}

.faq-question {
  cursor: pointer;
}
