//@use '../../styles/variables' as v;

.FAQ-title {
  margin-bottom: 2.5rem;
  margin-left: 2rem;
  padding-top: 2.5rem;
}

h3 {
  margin-bottom: 0.6rem;
  margin-left: 4rem;
  margin-top: 1rem;
}

.imageFAQ {
  margin-top: 5rem;
  margin-left: 4rem;
}

.FAQ-category {
  margin-left: 1rem;
}

.FAQ-content {
  margin-left: 3rem;
}
