//@use '../../styles/variables' as v;

.MyAccount-title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.MyAccount-WelcomeMessage,
.MyAccount-EventsMessage
{
  text-align: center;
}


.MyAccount__personalData,
.MyAccount__MyEvents,
.MyAccount__CreateEvent {
  margin: 1.5rem auto;
  width: 20rem;
  padding: 0.7rem 1.5rem;
  justify-content: center;
  &:hover {
    transform: scale(1.1);
    box-shadow: 10px 5px 5px rgb(90, 89, 89);
  }
}

.LoadingPage {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  font-size: 2rem;
  color: #333;
}

.uppercase {
  text-transform: uppercase;
}

.MyAccount-WelcomeMessage {
  color: #e6b069; /* Une couleur rouge-orange vif */
  font-size: 3em; /* Une taille de police plus grande pour plus d'impact */
  text-shadow: 2px 2px 4px #000000; /* Une ombre portée pour donner du relief au texte */
}

.MyAccount {
  background-image: url('/src/assets/30.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
  overflow: hidden;
  background-attachment: fixed;
  padding-bottom: 18.8vh;
}

.MyAccount__Buttons {
  margin-top: 5rem;
}

@media (max-width: 720px) {
  .MyAccount__h1 {
    font-size: 3rem;
    width: 80%;
    margin: auto;
  }
}
