@use '../../../styles/variables' as v;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    font-size: 3rem;
  }

  &__container {
    display: flex;
  }

  &__concept-explaination {
    margin-left: 35rem;
    margin-right: 35rem;
    margin-bottom: 3.5rem;
    margin-top: 3.5rem;
    border: solid black 0.4rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #f0c87e;
  }
}

.home__concept-explaination__title,
.home__concept-explaination__title2 {
  text-align: center;
  margin: 2rem;
}

.home__concept-explaination__title2 {
  margin-top: 5rem;
}

.home__paragraph {
  margin: 2rem;
}

button {
  display: flex;
  margin: 2rem auto;
  padding: 0.2rem 1.9rem;
  border-radius: 0.5rem;
  background: #000000;
  color: #dfdedf;
  cursor: pointer;
}

.home {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('/src/assets/14.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.no-underline {
  text-decoration: none;
}
