// @use '../../styles/variables' as v;

.SignUp {
  text-align: center;
  border: solid black 0.1rem;
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h2 {
  margin: 2.5rem;
}
.SignUp__confirmation {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  width: auto;
  padding: 0.2rem 2.5rem;
  border-radius: 0.2rem;
  border: none;

  background: #000000;
  color: #dfdedf;
}

.Website__title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.SignUp__newAccount {
  margin-bottom: 1.25rem;
}

.SignUp__name,
.SignUp__email,
.SignUp__password {
  display: block;
  width: 105%;
  margin: 0 auto 0.3rem auto;

  // Styles communs pour les champs d'entrée
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
}

.SignUp__password {
  margin-bottom: 1.5rem;
}
